@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .horizontal-timeline .items {
    border-top: 2px solid #ddd;
    }
    
    .horizontal-timeline .items .items-list {
    position: relative;
    margin-right: 0;
    }
    
    .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ddd;
    top: 0;
    margin-top: -5px;
    }
    
    .horizontal-timeline .items .items-list {
    padding-top: 15px;
    }
    
    .center-button {
        text-align: center;
    }
    
    .tracking-button {
        background-color: #33bbc5;
        color: white;
        display: block;
        margin: 0 auto;
        transition: background-color 0.3s ease;
    }

    .tracking-button:hover {
        background-color: #176b87;
    }
    

    .card-custom {
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .logo-image {
        width: 100px; /* Sesuaikan dengan ukuran yang Anda inginkan */
        display: block;
        margin: 0 auto;
    }
    
